<div class="container">
  <div class="todo-form">
    <h1>ToDo</h1>
    <%= form_for @list do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
